@charset "UTF-8";
body{
	background-color: #989898;
}

.logo{
	height: 80px;
	weight: 80px;
	margin-top: 5px;
	margin-left: 5px;
	
}

.information{
	background: url('../images/welcome.png');
	background-size: auto;
	background-repeat: no-repeat;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header-image{
	height: 175px;
	width: 99%;
	background-color: #2c16d0;
	margin-left: auto;
	margin-right: auto;
}
.header-image p{
	text-align: center;
}


.quote{
	width:10%;
	position: fixed;
	top: 100px;
	right: 0;
  	z-index: 1;
}

/* TODO fix fixing of not fixed image */



#profile-picture{
	width: 20%;
}
#introduce{
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	background-color: red;
}
#introduce > p, #introduce > img{
	flex: 1;
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}

.introduce-p{
	width: 60%
}