@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
body{
	background-color: #8cde898c;
	margin: 0;
}
/* #main{
	display: block;
} */
#the-main-div{
	position: relative;
}
.logo{
	height: 80px;
	height: 80px;
	margin-top: 5px;
	margin-left: 5px;
	
}

.information{
	background: url('../images/welcome.png');
	background-size: auto;
	background-repeat: no-repeat;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.header-image{
	width: 100%;
	height: 25vh;;
	background: url('../images/board-911636__340.webp');
	margin: 0;
	vertical-align: center;
	overflow: auto;
}
#title-name{
	display:block;
	text-align: center;
	font-size: 9em;
	color: rgb(255, 255, 2)   ;
	margin-top: 0em;
	margin-bottom: 0em;
	font-family: 'Niconne', cursive;
	text-decoration:none;
}


.quote{
	width:10%;
	position: fixed;
	top: 100px;
	right: 0;
  	z-index: 1;
}
.nav-pic{
	float: left;
	position: relative;
}
.nav-pic-source{	
	height: 100%;
	width: 100%;
}
.nav-pic-div{
	height: 100%;
	width: 100%;
	border-radius:100%;
	overflow: hidden;
}
.nav-pic-baner {

	visibility: hidden;
  	transition: all 0.5s ease-in-out;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	width:250px;
	height: 75px;
	background-color: black;
	color: white;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%; 
	float: left;
	position: absolute;
	left: 300px;
	bottom: 40px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1.1em;
	opacity: 0;
	display: -webkit-flex;
  	display: flex;
  	align-items: center;
	padding-left: 10px;
  }
  .nav-pic-baner.animation{
	animation: myfirst 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  }
  
  @keyframes myfirst {
	0%   {left: 375px; }
	25%  {opacity: 0.5; }
	50%  {opacity: 0.7; }
	75%  {opacity: 0.8; }
	100% {left: 225px; opacity: 1; }
  }
/* TODO fix fixing of not fixed image */

#defaultCanvas0{
	padding: 0;
    margin: auto;
	display: block;
}
.playground-inline{
	display: inline-block;
}
.playground-inline:first-child{
	display: table-cell;
    vertical-align: middle;
	
}
#playground-div{
	margin-left: 10%;
	background-color: rgba(254, 255, 168, 0.534);
	width: 90%;
	align-items: center;
	vertical-align: middle;
	display: table;
	border-collapse: separate;
  border-spacing: 50px;
	
}
#playground-p{
	font-size: 46px;
	text-align: center;
	vertical-align: middle;
	
}

#profile-picture{
	width: 250px;
}
#introduce{
	/* position: absolute;
	top: 0; */
	padding: 25px;
	display: flex;
	margin-left: 10%;

	background-color: rgba(130, 180, 255, 0.534);
	vertical-align: middle;
}
.introduce-p{
	padding: 25px;
	width: 60%;
	font-size: 2em;
}

#profil-pic{
	display: flex;
  	align-items: center;
  	justify-content: center;
}