.nav-main{
	width: 160px;
	top: 35px;
	left: 0;
	position: -webkit-sticky;
	position: sticky;
  	z-index: 1;
  	margin-left: 1%;
	float: left;
}
#nav-div{
	background-color: #04b733;
	height: 465px;
}