@charset "UTF-8";
body{
	background-color: #989898;
}

.header-image{
	height: 50px;
	width: 80%;
	background-color: #2c16d0;
	margin-left: auto;
	margin-right: auto;
}
.header-image p{
	text-align: center;
}

.header-main{
	width: 9%;
	background-color: #04b733;
	position: fixed;
	top: 100px;
	left: 0;
  	z-index: 1;
  	margin-left: 1%;
}

.header-main-content-p{
	color: #0000d8;
	
}

.header-main-content-p-p{
	color: #d5e542;
}
.quote{
	width:10%;
	position: fixed;
	top: 100px;
	right: 0;
  	z-index: 1;
}

/* TODO fix fixing of not fixed image */



#profile-picture{
	width: 20%;
}
#introduce{
	margin-left: 10%;
	margin-right: 10%;
	background-color: red;
}
#introduce > p, #introduce > img{
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}

.introduce-p{
	width: 60%
}